.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.nullMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -4rem;
  min-height: 100vh;
}

.inputBtn {
  height: 25px !important;
  width: 50px !important;
}

.selected {
  background-color: rgb(42, 42, 42) !important;
}

.sliderMark {
  text-align: center;
  border-radius: 10px;
  background-color: white;
  color: tomato;
  margin-top: -40px;
  margin-left: -25px;
  padding-left: 5px;
  padding-right: 5px;
}

.hero {
  position: fixed;
  width: 105%;
  height: 250px;
  bottom: -25px;
  left: -1%;
  background: url("/hero.png") no-repeat center center;
  background-size: cover;
  transform: rotate(2.02deg);
  opacity: 0.2;
}

.gradient {
  position: absolute;
  width: 902px;
  height: 902px;
  left: 50px;
  top: -13px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(217, 217, 217, 0.05) 0%,
    rgba(217, 217, 217, 0) 90.1%
  );
}

.nullText {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding-bottom: 1rem;
}

.button {
  width: 190px !important;
  height: 52px !important;
  color: #09182c !important;
  background: #d9d9d9;
  border-radius: 30px !important;
  z-index: 2;
  transition: all 0.3 ease-in-out;
}

.button:hover {
  transform: scale(1.05); /* make it slightly bigger */
}

.button:active {
  transform: scale(0.95); /* make it slightly bigger */
}
