.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  min-height: 100vh;
  z-index: 10;
}

.nullMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -4rem;
  min-height: 100vh;
}

.container {
  box-sizing: border-box;
  width: 530px;
  height: 640px;
  background: rgba(9, 24, 44, 0.5);
  border-radius: 20px;
  background: linear-gradient(#09182c, #09182c) padding-box,
    linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.15)
      )
      border-box !important;
  border: 0.5px solid transparent !important;
}

.inputBtn {
  height: 25px !important;
  width: 50px !important;
}

.selected {
  background-color: rgb(42, 42, 42) !important;
}

.sliderMark {
  text-align: center;
  border-radius: 10px;
  background-color: white;
  color: tomato;
  margin-top: -40px;
  margin-left: -25px;
  padding-left: 5px;
  padding-right: 5px;
}

.hero {
  position: fixed;
  width: 105%;
  height: 250px;
  bottom: -25px;
  left: -1%;
  background: url("/hero.png") no-repeat center center;
  background-size: cover;
  transform: rotate(2.02deg);
  opacity: 0.2;
  pointer-events: none;
}

.gradient {
  position: absolute;
  width: 902px;
  height: 902px;
  left: 50px;
  top: -13px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(217, 217, 217, 0.05) 0%,
    rgba(217, 217, 217, 0) 90.1%
  );
  pointer-events: none;
}

.nullText {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  padding-bottom: 1rem;
}

.secondaryBtn {
  width: 190px !important;
  height: 52px !important;
  color: #ffffff !important;
  background: #4a5563 !important;
  border-radius: 30px !important;
  z-index: 2;
  transition: all 0.3 ease-in-out;
}

.button {
  width: 190px !important;
  height: 52px !important;
  color: #09182c !important;
  background: #d9d9d9;
  border-radius: 30px !important;
  z-index: 2;
  transition: all 0.3 ease-in-out;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

.secondaryBtn:hover {
  transform: scale(1.05);
}

.secondaryBtn:active {
  transform: scale(0.95);
}

.progressContainer {
  padding: 2rem;
  width: 100%;
}

.progressBarContainer {
  position: relative;
  width: 180px;
  height: 3px;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 5px;
}

.progressBar {
  position: absolute;
  height: 100%;
  border-radius: 10px;
  background-color: #d9d9d9;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.progressBarDividers {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.progressBarDivider {
  background: #09182c;
  width: 5px;
  height: 5px;
}

.stepperHeader {
  width: 100%;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 4rem;
  padding-top: 1rem;
}

.inputContainer {
  width: 100%;
  justify-content: center !important;
  margin-bottom: -10px !important;
}

.amountInput {
  height: 100px !important;
  font-style: normal;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.25);
  border: none !important;
  outline: none !important;
  text-align: end !important;
  padding: 0 !important;
}

.amountInput:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.amountInput:focus-visible {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.amountInputUnit {
  font-style: normal;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.25);
}

.fiatAmountInputUnit {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.25);
  margin-top: 0 !important;
}

.title {
  font-size: 20px;
}
