.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.inputBtn {
  height: 30px !important;
  width: 50px !important;
  background-color: rgb(47, 47, 47) !important;
}
