/* .navbar {
  position: absolute;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  z-index: 100 !important;
  height: 72px;
  z-index: 1;
  color: white;
}
.logo {
  padding-top: 1rem;
  width: 150px;
}

.navLeftSection {
  gap: 1rem;
}

.connectButton {
  min-width: 150px !important;
  background-color: transparent !important;
} */

.navbar {
  position: relative; /* Needs to be relative for the child's absolute positioning to work correctly */
  display: flex;
  justify-content: space-between; /* Pushes children to the start and end */
  width: 100%;
  padding-right: 1rem;
  height: 72px;
  z-index: 1;
  color: white;
}

.logo {
  position: absolute; /* Absolute positioning related to the parent */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Corrects the offset due to absolute positioning */
  padding-top: 1rem;
  width: 150px;
}

.navLeftSection {
  gap: 1rem;
}

.connectButton {
  min-width: 150px;
  background-color: transparent;
}
